# Custom
elpa/
eln-cache/
auto-save-list/
transient/
custom.el
.cache/
.lsp-session-v1
tree-sitter/
projects

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
